In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('healthcare-dataset-stroke-data-cleaned-partial.csv')

df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,No,Yes,Yes,Private,Urban,228.69,36.6,Formerly Smoked,Yes
1,51676,Female,61,No,No,Yes,Self-employed,Rural,202.21,NaN,Never Smoked,Yes
2,31112,Male,80,No,Yes,Yes,Private,Rural,105.92,32.5,Never Smoked,Yes
3,60182,Female,49,No,No,Yes,Private,Urban,171.23,34.4,Smokes,Yes
4,1665,Female,79,Yes,No,Yes,Self-employed,Rural,174.12,24.0,Never Smoked,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80,Yes,No,Yes,Private,Urban,83.75,NaN,Never Smoked,No
5106,44873,Female,81,No,No,Yes,Self-employed,Urban,125.20,40.0,Never Smoked,No
5107,19723,Female,35,No,No,Yes,Self-employed,Rural,82.99,30.6,Never Smoked,No
5108,37544,Male,51,No,No,Yes,Private,Rural,166.29,25.6,Formerly Smoked,No
5109,44679,Female,44,No,No,Yes,Government Job,Urban,85.28,26.2,Unknown,No

In [4]:
df['bmi'].fillna(df['bmi'].mean().round(1), inplace=True)

df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,No,Yes,Yes,Private,Urban,228.69,36.6,Formerly Smoked,Yes
1,51676,Female,61,No,No,Yes,Self-employed,Rural,202.21,28.9,Never Smoked,Yes
2,31112,Male,80,No,Yes,Yes,Private,Rural,105.92,32.5,Never Smoked,Yes
3,60182,Female,49,No,No,Yes,Private,Urban,171.23,34.4,Smokes,Yes
4,1665,Female,79,Yes,No,Yes,Self-employed,Rural,174.12,24.0,Never Smoked,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80,Yes,No,Yes,Private,Urban,83.75,28.9,Never Smoked,No
5106,44873,Female,81,No,No,Yes,Self-employed,Urban,125.20,40.0,Never Smoked,No
5107,19723,Female,35,No,No,Yes,Self-employed,Rural,82.99,30.6,Never Smoked,No
5108,37544,Male,51,No,No,Yes,Private,Rural,166.29,25.6,Formerly Smoked,No
5109,44679,Female,44,No,No,Yes,Government Job,Urban,85.28,26.2,Unknown,No

In [5]:
df.to_csv('healthcare-dataset-stroke-data-cleaned.csv', index=False)